*
!.gitignore
!VERSION
!.emacs
!/.emacs.d
/.emacs.d/*
!/.emacs.d/.gitkeep
!/.emacs.d/configurations
/.emacs.d/configurations/*
!/.emacs.d/configurations/.gitkeep
!/.emacs.d/configurations/general-config.el
!/.emacs.d/configurations/miscellaneous-config.el
!/.emacs.d/configurations/python-config.el
